<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaPNa7Pf-CrpaLaZUZ6svSnA7V2KQfygo</string>
	<key>GCM_SENDER_ID</key>
	<string>838422257150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatlynx</string>
	<key>PROJECT_ID</key>
	<string>chatlynx-67c65</string>
	<key>STORAGE_BUCKET</key>
	<string>chatlynx-67c65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838422257150:ios:a09ff6c9cf5b47a5f9f4af</string>
</dict>
</plist>